<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label>Nom</label><br>
      <input type="text" class="form-control" [(ngModel)]="manga.nom">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label>Auteur (Mangaka)</label><br>
      <input type="text" class="form-control" [(ngModel)]="manga.auteur">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label>Description</label><br>
      <textarea name="description" cols="30" rows="10" class="form-control" [(ngModel)]="manga.description"></textarea>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label>Lien de l'image</label><br>
      <input type="text" class="form-control" [(ngModel)]="manga.image">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-6">
    <div class="form-group">
      <label>Nombre d'épisodes</label> <br>
      <input type="number" class="form-control" [(ngModel)]="manga.nmbrepisode">
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <div class="form-group row">
      <label class="col-12 col-form-label">
        VF disponible
      </label>
      <div class="col-12 row">
        <div class="col-6">
          <div class="form-check">
            <input type="radio" name="vf" class="form-check-input" [value]="true" [(ngModel)]="manga.vf"> <label class="form-check-label">Oui</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-check">
            <input type="radio" name="vf" class="form-check-input" [value]="false" [(ngModel)]="manga.vf"> <label class="form-check-label">Non</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="submit">
      <button class="btn btn-outline-success" (click)="modif()">Envoyer</button>
    </div>
  </div>
</div>
